body {
  background-color: #2A2A35;
}

/* .game {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  --> d-flex justify-content-center align-items-center flex-column
} */

.board {
  width: 305px;
  background-color: #0f4c81;
  border: 4px #656460 solid;
  border-top: 2px lightgray solid;
}

.boardTop {
  border-bottom: 2px #656460 solid;
}

.numeral {
  height: 30px;
  width: 50px;
  
  font-family: Revalia;
  color: crimson;
  background-color: black;
  
  border: 2px #656460 solid;
}

.reset {
  width: 30px;
  height: 30px;
  
  font-size: 20px;
  
  border: 2px #656460 solid;
  border-top: 1px lightgray solid;
  border-left: 1px lightgray solid;
}

.reset-click {
  border: 1px 656460 solid;
  border-bottom: 1px lightgray solid;
  border-right: 1px lightgray solid;
}

.field {
  width: 30px;
  height: 30px;
  border: 2px #656460 solid;
  border-top: 1px lightgray solid;
  border-left: 1px lightgray solid;
  background-color:darkgray;
  /* flex: 0 0 auto; --> flex-{grow|shrink}-0 */
  /* 
  flex-grow: 0;
  flex-shrink: 0; 
  flex-basis: auto;
  */
}

.flagged {
  width: 27px;
  height: 30px;
}

.digged {
  background-color: gray;
}

.mine {
  background-color: red;
}

/* .item {
    height:30px;
    text-align: center;
    line-height: 30px;
} */

.input-text {
  width: 80px;
}